# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Unity files are text files!
*.unity  text
*.prefab  text
*.meta  text
*.asset  text